HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

# LaTeX compilation files
report/*.aux
report/*.log
report/*.fls
report/*.idx
report/*.lof
report/*.lot
report/*.out
report/*.toc
report/*.acn
report/*.acr
report/*.alg
report/*.glg
report/*.glo
report/*.gls
report/*.ist
report/*.synctex.gz
report/*.fdb_latexmk
report/*.blg
report/*.bbl
report/*-blx.bib
report/_minted-report/